<header class="top-header">
    <div class="header-left">
        <button class="menu-toggle">
            <i class="fas fa-bars"></i>
        </button>
        <div class="search-container">
            <i class="fas fa-search search-icon"></i>
            <input type="text" placeholder="Search" class="search-input">
        </div>
    </div>
    <div class="header-right">
        <span class="open-source-badge">Open source <i class="fas fa-heart"></i></span>
        <button class="star-button">
            <i class="far fa-star"></i> Star
        </button>
        <span class="user-count">1</span>
    </div>
</header>